<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>DE67D277-6126-45F8-99E8-DA39EEA90743.playgroundpage</string>
		<string>BEA96D17-A9B8-4BFE-BC66-62420D5E0C4C.playgroundpage</string>
		<string>898774AC-ADAC-4502-BFF2-21BB9C877342.playgroundpage</string>
		<string>2CF9E21B-C9DF-43FB-B515-A0DEF4CE7096.playgroundpage</string>
	</array>
</dict>
</plist>
